* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:blanchedalmond;
}


.links{
    font-weight: bold;
    padding: 25px;
    margin: auto;
    display: inline-block;
    color: rgba(234, 0, 255, 0.616);
}

li{
    padding: 10px;
}

ul{
    font-style:italic;
}

.recipe-body {
    font-size: 10pt;
    font-weight:lighter;
}

.images{
    width: auto;
    height: 300px;
}

.title{
    padding: 25px;
    text-align: center;
}